.collapsibleList {
	li {
	  list-style-image:url('../bundles/app/img/list-item-root.png');
	  cursor:auto;
	}
}

li {
	.collapsibleListOpen {
	  list-style-image:url('../bundles/app/img/list-item-open.png');
	  cursor:pointer;
	}
	.collapsibleListClosed {
	  list-style-image:url('../bundles/app/img/list-item-closed.png');
	  cursor:pointer;
	}
}